.navbar{

height:78px;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 35px;

border-bottom:1px solid rgba(255,255,255,.05);

background:#08121f;

}

.searchBox{

width:430px;

height:46px;

display:flex;

align-items:center;

gap:12px;

padding:0 18px;

background:#101d31;

border-radius:14px;

color:#8aa1c0;

}

.searchBox input{

background:none;

border:none;

outline:none;

color:white;

width:100%;

font-size:15px;

}

.right{

display:flex;

align-items:center;

gap:18px;

}

.right button{

width:42px;

height:42px;

border:none;

border-radius:12px;

background:#101d31;

color:white;

display:flex;

align-items:center;

justify-content:center;

}

.profile{

display:flex;

align-items:center;

gap:12px;

}

.profile h4{

font-size:15px;

}

.profile span{

font-size:12px;

color:#9eb0ca;

}

@media(max-width:900px){

.searchBox{

width:220px;

}

.profile div{

display:none;

}

}
